body {
    background-image: url("running.jpeg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    height: 100vh;
    
}

.container {
    max-width: 80%;
    margin: auto;
    color: lemonchiffon;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lemonchiffon;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 20px;
}

#increment-btn {
    background: blueviolet;
}

#save-btn {
    background: darkolivegreen;
}